
body {
  color: turquoise;
}

.navbar {
  padding:20px;
  font-size: 68px;
  font-family: "Georgia";
  color: white;
  background-color: steelblue
}
.search {
  background-color: steelblue;
  padding: 10px;
}

.chart {
  margin: 50px;

}

